<header class="header" role="banner">
    <h1 class="logo">
      <a (click)="move_to_dashboard()"><img class="img2" src="assets/image/logo.png" alt=""></a>
    </h1>
    <div class="nav-wrap">
      <nav class="main-nav" role="navigation">
        <ul class="unstyled list-hover-slide">
          <li><a (click)="move_to_dashboard()">Dashboard</a></li>
          <li><a (click)="move_to_contact()">Contact Admins</a></li>
          <li><a (click)="move_to_profile()">Profile</a></li>
          <li><a routerLink="/sign_in">Log out</a></li>
        </ul>
      </nav>
    </div>
    
</header>

 