#main {
    margin-top: 3%;
    margin-left: 20%;
    transition: all 0.3s;
  }
  
  @media (max-width: 1199px) {
    #main {
      padding: 20px;
    }
  }
  /***************************************************************/
  